<!DOCTYPE html>
<html>
  <head>
    <title>Edit Droid</title>
    <link rel="stylesheet" type="text/css" href="/robot/edit.css">
  </head>

  <body>
    <header>
      <div class="fade"></div>
      <section class="star-wars">
        <div class="crawl">
          <div class="title">
            <h1>Edit Your Droid</h1>
          </div>
        </div>
      </section>
    </header>
    <ul>
      <li><a href="/robots">Droid Inventory</a></li>
      <li><a href="/robots/new">Build a Droid</a></li>
    </ul>

    <div class='form-container'>
      <form action="/robots/<%= @robot.id %>" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <input type='text' name='robot[name]' placeholder="<%= @robot.name %>"/><br/>
        <input type='text' name='robot[city]' placeholder="<%= @robot.city %>"/><br/>
        <input type='text' name='robot[state]' placeholder="<%= @robot.state %>"/><br/>
        <input type='text' name='robot[department]' placeholder="<%= @robot.department %>"/><br/>
        <input type='submit' value="Submit"/>
      </form>
    </div>
  </body>
</html>

